@import "bourbon/bourbon";
@import "neat/neat";
@import "reset";
@import "animations/animate";

// Change the grid settings
$column: 95px;
$gutter: 30px;
$grid-columns: 12;
$max-width: 1470px;

$small-breakpoint-value: 400px;
$medium-breakpoint-value: 769px;
$medium-viewport: new-breakpoint(min-width $small-breakpoint-value max-width $medium-breakpoint-value);
$large-viewport: new-breakpoint(min-width $medium-breakpoint-value + 1);

$font-headline-family: "rooney-web", sans-serif;
$font-headline-style: normal;
$font-headline-weight-normal: 400;
$font-headline-weight-bold: 700;

$font-body-family: "skolar-latin",sans-serif;
$font-body-style: normal;
$font-body-weight-normal: 400;
$font-body-weight-bold: 700;

$text-color: #333333;
$dark-grey: #3e4152;
$mid-grey: #9c9b9b;
$light-grey: #e2e3e5;
$white: #fff;

/* RGB */
$blue-dark: rgba(5, 102, 141, 1);
$blue-lighter: rgba(66, 122, 161, 1);
$whiter: rgba(235, 242, 250, 1);
$green-darker: rgba(38, 54, 20, 1);
$green-lighter: rgba(165, 190, 0, 1);

html {
   height: 100%;
}

body {
   min-height: 100%;
}

img{
  max-width: 100%;
}
a,p{
  font-family: $font-body-family;
}
a{
  color: $blue-dark;
}


body.default{
  
  background-color: $white;
  color: $text-color;

  .container{
    @include outer-container;

    .navigation{
      @include span-columns(3);
      background-color: $green-darker;
      height: 100vh;

      h1, h2, h3, h4, h5, a{
        text-decoration: none;
        color: $white;
        &:visited{
          color: $white;
        }
      }
      h2{
        letter-spacing: 3px;
      }

      .wrap{
        @include span-columns(2 of 3);
        @include shift(0.5);
        
        article.logo,
        article.links{
          text-align: center;
          @include clearfix;
        }
        
        article.logo{
          padding-top: 38px;
          font-family: "brandon-grotesque",sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 1.3em;
          img{
            margin-top: 30px;
            opacity: 0;
            width: 75%;
            height: 75%;
            @include animation--fadedown(0.1);
          }
        }
        article.links{
          color: $white;
          margin: 50px auto;
          a{
            font-family: "brandon-grotesque",sans-serif;
            font-style: normal;
            font-weight: 500;
            text-transform: uppercase;
            opacity: 0;
            display: block;
            font-size: 1.8em;
            line-height: 1.3em;
            text-decoration: none;

            @for $i from 1 through 3 {
              &:nth-child(#{$i}) {
                @include animation--fadeleft($i/5)
              }
            }
          }
          
        }

      }
      
    }

    .content{
      @include span-columns(7);
      @include shift(0.5);

      padding-top: 40px;

      p{
        line-height: 1.4em;
        margin: 1.2em 0;
      }

      h1, h2, h3, h4, h5{
        color: $green-darker;
        &:visited{
          color: $green-lighter;
        }
      }
    }
  }


}

