@import "bourbon/bourbon";
@import "neat/neat";
@import "reset";

// Change the grid settings
$column: 95px;
$gutter: 30px;
$grid-columns: 12;
$max-width: 1470px;

$small-breakpoint-value: 400px;
$medium-breakpoint-value: 769px;
$medium-viewport: new-breakpoint(min-width $small-breakpoint-value max-width $medium-breakpoint-value);
$large-viewport: new-breakpoint(min-width $medium-breakpoint-value + 1);

// Variables and colors
$serif: "adobe-caslon-pro","Times New Roman", serif;
$sans-serif: "proxima-nova", Arial, Helvetica, serif;
$intro-font: "";

$green: #c5d31c;
$dark-grey: #3e4152;
$mid-grey: #9c9b9b;
$light-grey: #e2e3e5;
$white: #fff;

/* RGB */
$blue-dark: rgba(5, 102, 141, 1);
$blue-lighter: rgba(66, 122, 161, 1);
$whiter: rgba(235, 242, 250, 1);
$green-darker: rgba(38, 54, 20, 1);
$green-lighter: rgba(165, 190, 0, 1);
$temp-green: rgba(12, 87, 80, 1);

body.default{
 
  background-color: $green-darker;

  .container{
    @include outer-container;

    &.navigation{
      @include span-columns(4);
      background: $light-grey;
    }

    &.content{
      position: relative;
      background-color: $green-darker;
      @include centerer;

      h1{
        font-family: "museo-sans",sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 50px;
        color: $white;
      }
    }
  }


}

