@import "bourbon/bourbon";
//$visual-grid: true;
@import "neat/neat";
@import "reset";
@import "animations/animate";



//$small-breakpoint-value: 400px;
//$medium-breakpoint-value: 769px;
//$medium-viewport: new-breakpoint(min-width $small-breakpoint-value max-width $medium-breakpoint-value);
//$large-viewport: new-breakpoint(min-width $medium-breakpoint-value + 1);

$tablet: new-breakpoint(max-width 768px);
$mobile: new-breakpoint(max-width 480px);


$small-breakpoint-value: 413px;
$medium-breakpoint-value: 769px;

$very-small-viewport-portrait: new-breakpoint(max-width $small-breakpoint-value - 1 orientation portrait);
$very-small-viewport-landscape: new-breakpoint(max-width 599px orientation landscape);
$very-small-viewport: new-breakpoint(max-width $small-breakpoint-value - 1);


$font-headline-family: "rooney-web", sans-serif;
$font-headline-style: normal;
$font-headline-weight-normal: 400;
$font-headline-weight-bold: 700;

$font-body-family: "skolar-latin",sans-serif;
$font-body-style: normal;
$font-body-weight-normal: 400;
$font-body-weight-bold: 700;

$text-color: #333333;
$dark-grey: #3e4152;
$mid-grey: #9c9b9b;
$light-grey: #e2e3e5;
$white: #fff;

/* RGB */
$blue-dark: rgba(5, 102, 141, 1);
$blue-lighter: rgba(66, 122, 161, 1);
$whiter: rgba(235, 242, 250, 1);
$green-darker: rgba(38, 54, 20, 1);
$green-lighter: rgba(165, 190, 0, 1);

html {
   height: 100%;
}

body {
   min-height: 100%;
   height: 100%;
   font-family: $font-body-family;
}

img{
  max-width: 100%;
}
a,p{
  font-family: $font-body-family;
}
a{
  color: $blue-dark;
}

.clearfix{
  @include clearfix;
}

ul{
  margin-left: 0;
  padding-left: 0;
  li{
    a{
      font-family: $font-headline-family;
      font-weight: $font-headline-weight-bold;
      font-size: 1.7em;
    }
  }
}

.container.navigation{
   @include outer-container;
   h2{
    @include span-columns(8);
    @include shift(2);
    @include media($very-small-viewport-portrait){
      @include span-columns(12);
      @include shift(0);
    }
    text-align: center;
    a{
      text-decoration: none;
      font-family: $font-headline-family;
      font-weight: $font-headline-weight-bold;
      text-align: center;
      font-size: 1.6em;
      color: $dark-grey;
      text-align: center;
    }
    
   }
   h2:nth-of-type(2){
    font-family: $font-headline-family;
    font-weight: $font-headline-weight-normal;
    margin-top: 0;
    margin-bottom: 35px;
    font-size: 1.5em;
   }
}

.container.main{
  @include outer-container;
  .posts-list{
    @include span-columns(8);
    @include shift(2);
    @include media($very-small-viewport-portrait){
      @include span-columns(12);
      @include shift(0);
      padding: 20px 10px;

    }
    padding: 50px 0;
    
    a{
      text-decoration: none;
      font-size: 20px;
      font-family: $font-headline-family;
      font-weight: $font-headline-weight-normal;
      &.title{
        font-size: 30px;
      }
    }

    p{
      font-size: 20px;
    }
  }
  .post{
    @include span-columns(8);
    @include shift(2);
    @include media($very-small-viewport-portrait){
      @include span-columns(12);
      @include shift(0);
      padding: 0 10px;

    }
    p{
      font-size: 1.2em;
      line-height: 1.4em;
    }
  }
}

article.post{
  padding-top: 20px; 
}

.post-content{
  ul{
    color: #000;
    margin-left: 30px;
    font-size: 1.2em;
    list-style-type: circle;
    list-style-position: outside;
    li{
      color: #000;
      list-style-type: circle;
      padding-bottom: 5px;
    }
  }
}

#disqus_thread{
  margin-top: 40px;
}